# Build artifacts
bin/
obj/
*.exe
*.dll
*.pdb
*.cache
*.log

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio Code settings
.vscode/

# Rider settings
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# NuGet packages
*.nupkg
packages/
project.lock.json
project.fragment.lock.json

# DotNet specific
*.vs/
*.vscode/
*.swp
*.lock.json